 <!-- header>nav>ul>li*3^^^^section.init>h2{Inicio}^footer>div*2>ul>li*3 -->
 <header>
    <nav>
        
        <div class="logo">
            <img src="/images/Untitled-Design.png" alt="">
        </div>

        <ul>
            <li> <a href="/"> Home <i class="fa-solid fa-house"></i> </a> </li>
            <li> <a href=""> Help <i class="fa-solid fa-circle-info"></i> </a> </li>
            <li> <a href=""> Contact <i class="fa-solid fa-universal-access"></i> </a> </li>
            <li> <a href="/login"> Login <i class="fa-solid fa-right-to-bracket"></i> </a> </li>
        </ul>

        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>

    </nav>
</header>