body {
  /*  background: rgb(154,255,253)
  *  background: linear-gradient(90deg, rgba(154,255,253,1) 11%, rgba(123,192,228,1) 34%, rgba(63,13,218,1) 100%)
  *  */
  /*  background-image: url('https://cdn.ipadizate.com/2021/06/wallpaper-macOS-12-moterey-claro.jpg')
  *  */
  /*  background-image: url('https://i.blogs.es/9df83a/mac/840_560.jpeg')
  *  */
  /*  background-image: url('https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-red-dark-mode-layers-5k-7680x4320-5893.jpg')
  *  */
  background-image: url("https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-blue-light-layers-5k-5120x2880-5898.jpg");
  background-size: cover;
  /*  background-repeat: no-repeat
  *  */
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
body main .seccion-centrada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 6rem;
}
body main .seccion-centrada .principal {
  margin-bottom: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
body main .seccion-centrada .principal h2 {
  margin: 0.5rem 0;
  text-align: center;
  text-decoration: underline;
}
body main .seccion-centrada .principal #formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .seccion-centrada .principal #formulario .user_data {
  display: flex;
  flex-direction: column;
  padding-left: 2.54rem;
  width: 18rem;
}
body main .seccion-centrada .principal #formulario .user_data input {
  width: 12rem;
  margin: 0.5rem;
  border: 0.01px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
body main .seccion-centrada .principal #formulario .zone_mail_login, body main .seccion-centrada .principal #formulario .zone_eye_password, body main .seccion-centrada .principal #formulario .button-submit {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: left;
  padding-left: 2.54rem;
  width: 18rem;
}
body main .seccion-centrada .principal #formulario .zone_mail_login input, body main .seccion-centrada .principal #formulario .zone_eye_password input, body main .seccion-centrada .principal #formulario .button-submit input {
  width: 12rem;
  margin: 0.25rem;
  border: 0.01px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
body main .seccion-centrada .principal #formulario .zone_mail_login .email_login, body main .seccion-centrada .principal #formulario .zone_mail_login .eye_password-open, body main .seccion-centrada .principal #formulario .zone_mail_login .eye_password-close, body main .seccion-centrada .principal #formulario .zone_eye_password .email_login, body main .seccion-centrada .principal #formulario .zone_eye_password .eye_password-open, body main .seccion-centrada .principal #formulario .zone_eye_password .eye_password-close, body main .seccion-centrada .principal #formulario .button-submit .email_login, body main .seccion-centrada .principal #formulario .button-submit .eye_password-open, body main .seccion-centrada .principal #formulario .button-submit .eye_password-close {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .seccion-centrada .principal #formulario .zone_mail_login .eye_password-open, body main .seccion-centrada .principal #formulario .zone_eye_password .eye_password-open, body main .seccion-centrada .principal #formulario .button-submit .eye_password-open {
  display: none;
}
body main .seccion-centrada .principal .sign-up {
  font-weight: bold;
}
body main .seccion-centrada .reaccion {
  margin-top: 1rem;
  color: brown;
  font-size: 16px;
  font-weight: bold;
}
body main footer {
  position: absolute;
  bottom: 0;
  left: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main footer .div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main footer .div ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main footer .div ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  padding: 5px;
  border: 0.01px solid black;
  border-radius: 10px;
}
body main footer .div ul li i.whatshapp {
  padding: 2.5px;
  background: #64d29b;
  border-radius: 50%;
}
body main footer .div ul li p.whatshapp {
  cursor: pointer;
  margin-left: 0.5rem;
  background: #c7ffe3;
  font-weight: bold;
  padding: 2.5px 5px;
  color: #122d9a;
  text-decoration: underline;
  box-shadow: 1px 1px 1px 1px #000;
  border-radius: 10px;
}
body main footer .div ul li i.facebook {
  padding: 2.5px;
  background: #60bdff;
  border-radius: 50%;
}
body main footer .div ul li p.facebook {
  cursor: pointer;
  margin-left: 0.5rem;
  background: #c9e7fc;
  color: #122d9a;
  text-decoration: underline;
  font-weight: bold;
  padding: 2.5px 5px;
  box-shadow: 1px 1px 1px 1px #000;
  border-radius: 10px;
}
body main footer .div ul li i.instagram {
  padding: 2.5px;
  background: #7c2aff;
  border-radius: 50%;
}
body main footer .div ul li p.instagram {
  cursor: pointer;
  margin-left: 0.5rem;
  background: #b68ef7;
  color: #122d9a;
  text-decoration: underline;
  font-weight: bold;
  padding: 2.5px 5px;
  box-shadow: 1px 1px 1px 1px #000;
  border-radius: 10px;
}

@media only screen and (max-width: 1048px) {
  footer {
    flex-direction: column !important;
    z-index: 0 !important;
    left: 25% !important;
  }
  footer .div {
    flex-direction: column !important;
    justify-content: center !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  footer .div ul {
    flex-direction: column !important;
  }
  footer .div ul li p {
    width: 10rem;
    text-align: center;
  }
}/*# sourceMappingURL=inicio-formularios.css.map */