body {
  /*  background: rgb(154,255,253)
  *  background: linear-gradient(90deg, rgba(154,255,253,1) 11%, rgba(123,192,228,1) 34%, rgba(63,13,218,1) 100%)
  *  */
  /*  background-image: url('https://cdn.ipadizate.com/2021/06/wallpaper-macOS-12-moterey-claro.jpg')
  *  */
  /*  background-image: url('https://i.blogs.es/9df83a/mac/840_560.jpeg')
  *  */
  /*  background-image: url('https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-red-dark-mode-layers-5k-7680x4320-5893.jpg')
  *  */
  background-image: url("https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-blue-light-layers-5k-5120x2880-5898.jpg");
  background-size: cover;
  /*  background-repeat: no-repeat
  *  */
}
body main .seccion-centrada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 6rem;
}
body main .seccion-centrada .principal {
  margin-bottom: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
body main .seccion-centrada .principal h2 {
  margin: 0.5rem 0;
  text-align: center;
  text-decoration: underline;
}
body main .seccion-centrada .principal #formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .seccion-centrada .principal #formulario .user_data {
  display: flex;
  flex-direction: column;
  padding-left: 2.54rem;
  width: 18rem;
}
body main .seccion-centrada .principal #formulario .user_data input {
  width: 12rem;
  margin: 0.5rem;
  border: 0.01px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
body main .seccion-centrada .principal #formulario .zone_mail_login, body main .seccion-centrada .principal #formulario .zone_eye_password, body main .seccion-centrada .principal #formulario .button-submit {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: left;
  padding-left: 2.54rem;
  width: 18rem;
}
body main .seccion-centrada .principal #formulario .zone_mail_login input, body main .seccion-centrada .principal #formulario .zone_eye_password input, body main .seccion-centrada .principal #formulario .button-submit input {
  width: 12rem;
  margin: 0.25rem;
  border: 0.01px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
body main .seccion-centrada .principal #formulario .zone_mail_login .email_login, body main .seccion-centrada .principal #formulario .zone_mail_login .eye_password-open, body main .seccion-centrada .principal #formulario .zone_mail_login .eye_password-close, body main .seccion-centrada .principal #formulario .zone_eye_password .email_login, body main .seccion-centrada .principal #formulario .zone_eye_password .eye_password-open, body main .seccion-centrada .principal #formulario .zone_eye_password .eye_password-close, body main .seccion-centrada .principal #formulario .button-submit .email_login, body main .seccion-centrada .principal #formulario .button-submit .eye_password-open, body main .seccion-centrada .principal #formulario .button-submit .eye_password-close {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .seccion-centrada .principal #formulario .zone_mail_login .eye_password-open, body main .seccion-centrada .principal #formulario .zone_eye_password .eye_password-open, body main .seccion-centrada .principal #formulario .button-submit .eye_password-open {
  display: none;
}
body main .seccion-centrada .principal .sign-up {
  font-weight: bold;
}
body main .seccion-centrada .reaccion {
  margin-top: 1rem;
  color: brown;
  font-size: 16px;
  font-weight: bold;
}/*# sourceMappingURL=inicio-formularios.css.map */