
.main-body
    margin-top: 6rem
    height: 50rem

    background: linear-gradient(90deg, rgba(154,255,253,1) 11%, rgba(123,192,228,1) 34%, rgba(63,13,218,1) 100%)

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .ver-usuarios
        margin: 0
        height: 20rem
        padding-top: 5px
        padding-bottom: 5px
        padding-left: 5px
        padding-right: 0

        background-color: #fff
        border-radius: 10px

        overflow: hidden
        overflow-x: hidden
        overflow-y: auto
    
        .leyenda-usuarios
            display: flex
            flex-direction: row
            margin: 0

            .centrar-leyenda
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

                
                margin-left: 0.40rem
                padding-top: 5px
                padding-bottom: 5px
                padding-left: 5px
                padding-right: 0

                width: 8.6rem
                background: linear-gradient(260deg, rgba(49,4,152,0.7363737731420693) 17%, rgba(14,0,120,1) 60%)
                
                border-radius: 10px
                
                p
                    box-shadow: 0.5px 0.5px 0.5px 2px #9FE3F3
                    color: #fff
                    text-shadow: 2px 2px 0 #000
                    font-weight: bold

                    padding-top: 5px
                    padding-bottom: 5px
                    padding-left: 5px
                    padding-right: 5px
                    
                    border-radius: 10px
                    text-align: center
    
        .usuario
            display: flex
            flex-direction: row
            justify-content: space-between

            margin: 0.25rem 0

            div.centrar-usuario
                display: flex
                flex-direction: row
                justify-content: center
                align-items: center

                margin: 0 0.15rem
                width: 8.6rem

                border-radius: 10px
                box-shadow: 1px 1px 0.5px 1px #000000
                i.del-function
                    cursor: pointer
                i.edit
                    cursor: pointer
                i.delete
                    cursor: pointer
                i
                    color: #982704
                i.disabled
                    /* Estilos para el icono desactivado */
                    color: #5a5452
                    opacity: 0.5
                    pointer-events: none// Desactivar eventos de clic
                
                p
                    text-align: center
                    font-weight: bold
                    i
                        color: #000

                div.close
                    display: flex
                    flex-direction: row
                    margin-left: 1rem
                    i
                        color: #000
                        cursor: pointer
                    i.block
                        color: #982704
                        cursor: pointer
                div.open
                    display: none
                    flex-direction: row
                    margin-left: 1rem
                    i
                        color: #000
                        cursor: pointer
                    i.elim
                        color: green
                        cursor: pointer
    .isercion_usuario
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        height: 10rem
        margin-top: 1rem
        padding: 5px
        background-color: #fff
        border-radius: 10px

        h2

        .leyenda-insercion
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            width: 100%

            margin-bottom: 0.5rem

            .centrar-leyenda
                display: flex
                flex-direction: row
                justify-content: center
                align-items: center

                margin: 0 0.068rem
                padding: 5px 0

                width: 9rem
                background: linear-gradient(260deg, rgba(49,4,152,0.7363737731420693) 17%, rgba(14,0,120,1) 60%)
                
                border-radius: 10px
                p
                    box-shadow: 0.5px 0.5px 0.5px 2px #9FE3F3
                    color: #fff
                    text-shadow: 2px 2px 0 #000
                    font-weight: bold

                    padding: 5px
                    border-radius: 10px
                    text-align: center
                    

        .datos-insercion
            display: flex
            flex-direction: row
            justify-content: start
            align-items: start
            width: 100%

            .centrar-datos-insercion
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

                margin: 0 0.068rem
                padding: 10px

                width: 9rem
                background: linear-gradient(260deg, rgba(49,4,152,0.7363737731420693) 17%, rgba(14,0,120,1) 60%)
                
                border-radius: 10px

                input

                    margin: 5px
                    width: 8rem

                    padding-top: 5px
                    padding-bottom: 5px
                    padding-left: 5px

                    font-weight: bold

                    border: none
                    border-radius: 10px
                    box-shadow: 1px 1px 0.5px 1px #000000

        button
            padding: 5px

            border: none
            border-radius: 10px
            box-shadow: 1px 1px 0.5px 1px #000000
            cursor: pointer

            transition: 0.9s
            &:hover
                background: #03a6d2



    