<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        #mi-contenedor{
            width: 40rem;
            height: 40rem;
            border: 1px solid black;
            border-radius: 20px;

            padding: 5px;

            overflow: hidden;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .nodo{
            width: 90%;
            height: 20%;
            background-color: blue;

            border: 1px solid black;
            border-radius: 20px;
        }

    </style>
</head>
<body>

    <div id="mi-contenedor"></div>
    <button id="boton" onclick="add()">Añadir</button>

    <script>

        // Obtén el contenedor y los nuevos elementos a agregar
        let container = document.querySelector("#mi-contenedor");
        
        function add(){
            // Agrega los nuevos elementos al fragmento de documento
            let nodo = document.createElement("div");
            nodo.classList.add('nodo');
        
            container.appendChild(nodo);

            // Si la altura del contenedor supera su altura máxima, desplázate hacia abajo
            if (container.scrollHeight > container.clientHeight) {
                container.scrollTop = container.scrollHeight - container.clientHeight;
            }
        }
        
        // Obtén la altura máxima permitida para el contenedor
        let maxHeight = `${container.clientHeight}px`;
        
        // Establece la altura máxima del contenedor
        container.style.maxHeight = maxHeight;
        
    </script>
        

</body>
</html>