<footer>
    <div class="div">
        <ul>
            <li> <i class="fa-brands fa-whatsapp whatshapp"> </i> <p class="whatshapp"> +34 654 567 346 </p></li>
        </ul>
    </div>
    <div class="div">
        <ul>
            <li> <i class="fa-brands fa-square-facebook facebook"> </i> <p class="facebook"> Delaybrary </p> </li>
            <li> <i class="fa-brands fa-instagram instagram"> </i> <p class="instagram"> Delaybrary </p> </li>
        </ul>
    </div>
</footer>