<%# HEAD TOP 1/2 %>
<%- include('../components/head-top.ejs') %>

<%# --------------------------------------------- %>
<%# GENERAL STYLES %>
<link rel="stylesheet" href="/styles/uiniversal-general-styles.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<!-- ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%# --------------------------------------------- %>

<link rel="stylesheet" href="/styles/nav_menu.css">

</head>
<body>
    <main>
        <%- include("../components/nav/nav_menu.ejs") %>
        
        <h2>Hola mundo</h2>

        <div id="dasboard-body">
            <div class="grupos container">
                <i class="fa-solid fa-user-group"></i> <i class="fa-solid fa-plus"></i>  <i class="fa-solid fa-ban"> </i><i class="fa-solid fa-diagram-project"></i> <i class="fa-solid fa-circle-half-stroke"></i>
            </div>
            <div class="nota container">
                <i class="fa-solid fa-plus"></i>  <i class="fa-solid fa-note-sticky"></i> <i class="fa-solid fa-square-minus"></i>
            </div>
            <div class="imagenes container">
                <i class="fa-solid fa-plus"></i> <i class="fa-solid fa-cloud"></i> <i class="fa-regular fa-image"></i>
            </div>

            <div class="test-lab container"> <i class="fa-solid fa-flask-vial"></i> </div>

        </div>
    </main>

    <script>
        let ul = document.querySelector('.ul');
        let logo = document.getElementsByClassName('hamburger')[0];

       logo.addEventListener('click', ( event) => {
            if( ul.classList.contains('show') ){
                ul.classList.remove('show');
            }else{
                ul.classList.add('show');
            }

        });

    </script>

</body>
</html>