<%# HEAD TOP 1/2 %>
<%- include('../components/head-top.ejs') %>

<%# --------------------------------------------- %>

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<!-- ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%# --------------------------------------------- %>

<%# GENERAL STYLES %>
<link rel="stylesheet" href="/styles/general.css">

<%# INICIAL STYLES %>
<link rel="stylesheet" href="/styles/inicial.css">

<%# STYLES NAV INICIO %>
<link rel="stylesheet" href="/styles/nav-inicio.css">

<%# STYLES INICIO %>
<link rel="stylesheet" href="/styles/inicio-styles.css">

<%# HEAD BOTTOM "2/2 %>
<%- include('../components/head-bottom.ejs') %>

    <main class="main-body">

        <%# HEADER + NAV COMPONENT %>
        <%- include('../components/nav/nav_inicio.ejs') %>

        <div class="content">

            <div class="content-data">
                <h2>HOME</h2>
                <p> Thank you for trusting us. <br> We are a rental website to help in the operation of TeamWorks.</p>
            </div>

            <%# FOOTER COMPONENT %>
            <%- include('../components/footer/footer.ejs') %>

        </div>

    </main>

    <script>
        let ul = document.querySelector('.ul');
        let logo = document.getElementsByClassName('hamburger')[0];

       logo.addEventListener('click', ( event) => {
            if( ul.classList.contains('show') ){
                ul.classList.remove('show');
            }else{
                ul.classList.add('show');
            }

        });
    </script>

</body>
</html>
