<%# HEAD TOP 1/2 %>
<%- include('../components/head-top.ejs') %>

<%# --------------------------------------------- %>
<%# GENERAL STYLES %>
<link rel="stylesheet" href="/styles/uiniversal-general-styles.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<!-- ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%# --------------------------------------------- %>

<%# GENERAL STYLES %>
<link rel="stylesheet" href="/styles/general.css">

<%# INICIAL STYLES %>
<link rel="stylesheet" href="/styles/inicial.css">

<%# STYLES NAV INICIO %>
<link rel="stylesheet" href="/styles/nav-inicio.css">

<style>
    .main-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-body img {
        width: 70%;
    }
</style>

<%# HEAD BOTTOM "2/2 %>
<%- include('../components/head-bottom.ejs') %>
    <main>
        <%# Header + Nav Component %>
        <%- include('../components/nav/nav_inicio.ejs') %>

        <section class="main-body">
            <h1> <b> Syntax Error 404 </b>  </h1>
            <h2> <big> <b> Web Direction Not Found </b> </big> </h2>
    
            <img src="https://voidcoders.com/wp-content/uploads/2018/09/featured-404-error-image.png" alt="">
        </section>
    </main>

    <script>
            // Hamburguer
            let ul = document.querySelector('.ul');
            let logo = document.getElementsByClassName('hamburger')[0];

        logo.addEventListener('click', ( event) => {
                if( ul.classList.contains('show') ){
                    ul.classList.remove('show');
                }else{
                    ul.classList.add('show');
                }

            });

    </script>
    
</body>
</html>